In [1]:
import pandas as pd 
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sb

df = pd.read_csv('houses.csv')
df.head()

     price    bd&ba   sqft                                            address
0  689,000  3bd,3ba  2,235        7368 Flowerwood Way,, ,Sacramento, CA 95831
1  625,000  4bd,3ba  2,299        3707 Iskenderun Ave,, ,Sacramento, CA 95834
2  224,500  1bd,1ba    667  4200 E Commerce Way #1113,, ,Sacramento, CA 95834
3  340,000  3bd,2ba  1,084           6 Ashley Oaks Ct,, ,Sacramento, CA 95815
4  399,000  3bd,2ba  1,394            7970 Bastien Ct,, ,Sacramento, CA 95828

## Let's clean our data

In [2]:
# check na value
df.isna().sum()

price       0
bd&ba      58
sqft        0
address     0
dtype: int64

In [3]:
df[df['bd&ba'].isna()]

,price,bd&ba,sqft,address
104,"375,000",NaN,217 Silver Eagle Rd,"217 Silver Eagle Rd,, ,Sacramento, CA 95838"
141,"439,000",NaN,7001 Garden Hwy,"7001 Garden Hwy,, ,Sacramento, CA 95837"
179,"1,755,000",NaN,270 South Ave,"270 South Ave,, ,Sacramento, CA 95838"
215,"1,755,000",NaN,260 South Ave,"260 South Ave,, ,Sacramento, CA 95838"
269,"4,550,000",NaN,4101 Taylor St,"4101 Taylor St,, ,Sacramento, CA 95838"
276,"325,000",NaN,22nd St,"22nd St,, ,Rio Linda, CA 95673"
300,"1,250,000",NaN,1 (on 3.25 acres),"6140 Lemon Hill Ave,, ,Sacramento, CA 95824"
334,"100,000",NaN,1625 Los Robles Blvd,"1625 Los Robles Blvd,, ,Sacramento, CA 95838"
373,"300,000",NaN,2009 Chinatown Aly,"2009 Chinatown Aly,, ,Sacramento, CA 95814"
391,"250,000",NaN,Branch St,"Branch St,, ,Sacramento, CA 95815"
409,"139,000",NaN,Jonko Ave,"Jonko Ave,, ,North Highlands, CA 95660"
410,"229,000",NaN,3021 8th Ave,"3021 8th Ave,, ,Sacramento, CA 95817"
420,"170,000",NaN,6236 25th St,"6236 25th St,, ,Sacramento, CA 95822"
421,"170,000",NaN,6240 25th St,"6240 25th St,, ,Sacramento, CA 95822"
452,"4,000,000",NaN,El Centro Rd,"El Centro Rd,, ,Sacramento, CA 95834"
542,"650,000",NaN,9072 Osage Ave,"9072 Osage Ave,, ,Sacramento, CA 95829"
561,"159,900",NaN,9th Ave,"9th Ave,, ,Sacramento, CA 95817"
606,"99,900",NaN,7242 Fawn Way,"7242 Fawn Way,, ,Sacramento, CA 95823"
607,"349,000",NaN,5341 Harrison St,"5341 Harrison St,, ,North Highlands, CA 95660"
640,"898,000",NaN,Gardner Ave,"Gardner Ave,, ,Sacramento, CA 95828"
666,"210,000",NaN,McNie Ave,"McNie Ave,, ,Sacramento, CA 95828"
678,"75,000",NaN,Amaranth,"Amaranth,, ,Sacramento, CA 95815"
696,"400,000",NaN,4700 50th Ave,"4700 50th Ave,, ,Sacramento, CA 95823"
707,"93,000",NaN,5805 Pomegranate Ave,"5805 Pomegranate Ave,, ,Sacramento, CA 95823"
770,"279,999",NaN,5189 El Paraiso Ave,"5189 El Paraiso Ave,, ,Sacramento, CA 95824"
775,"799,000",NaN,6555 Watt Ave,"6555 Watt Ave,, ,North Highlands, CA 95660"
776,"499,000",NaN,2625 Belport Ln,"2625 Belport Ln,, ,Sacramento, CA 95821"
797,"359,000",NaN,7001 34th St,"7001 34th St,, ,North Highlands, CA 95660"
802,"205,000",NaN,3125 Academy Way,"3125 Academy Way,, ,Sacramento, CA 95815"
824,"33,988,500",NaN,3871 Del Paso Rd,"3871 Del Paso Rd,, ,Sacramento, CA 95834"
825,"98,000",NaN,Citrus Ave,"Citrus Ave,, ,Sacramento, CA 95823"
826,"2,999,000",NaN,1 Poker Ln,"1 Poker Ln,, ,Antelope, CA 95843"
827,"2,250,000",NaN,7800 Bradshaw Rd,"7800 Bradshaw Rd,, ,Sacramento, CA 95829"
858,"150,000",NaN,1230 Ciric Way,"1230 Ciric Way,, ,Sacramento, CA 95833"
861,"9,220,000",NaN,Metro Air Pkwy,"Metro Air Pkwy,, ,Sacramento, CA 95837"
862,"250,000",NaN,3241 West St,"3241 West St,, ,Sacramento, CA 95817"
898,"388,000",NaN,1 (on 1 acre),"7309 Power Inn Rd,, ,Sacramento, CA 95828"
908,"370,000",NaN,1049 E Landing Way,"1049 E Landing Way,, ,Sacramento, CA 95831"
919,"149,900",NaN,1403 Rene Ave,"1403 Rene Ave,, ,Sacramento, CA 95838"
920,"375,000",NaN,7635 Bridgeview Dr,"7635 Bridgeview Dr,, ,Sacramento, CA 95831"
941,"475,000",NaN,Montgomery Way,"Montgomery Way,, ,Sacramento, CA 95818"
942,"130,000",NaN,2590 American Ave,"2590 American Ave,, ,Sacramento, CA 95833"
951,"109,900",NaN,6307 Requa Way,"6307 Requa Way,, ,Sacramento, CA 95823"
959,"894,900",NaN,3800 Robertson Ave,"3800 Robertson Ave,, ,Sacramento, CA 95821"
976,"2,950,000",NaN,49 Florin Rd,"49 Florin Rd,, ,Sacramento, CA 95829"
979,"279,000",NaN,2565 Howe Ave,"2565 Howe Ave,, ,Sacramento, CA 95821"
980,"75,000",NaN,1,"2768 Oakmont St,, ,Sacramento, CA 95815"
1008,"699,000",NaN,5230 Excelsior Rd,"5230 Excelsior Rd,, ,Sacramento, CA 95827"
1009,"50,000",NaN,540,"2762 Oakmont St,, ,Sacramento, CA 95815"
1013,"109,000",NaN,7244 Frasinetti Rd,"7244 Frasinetti Rd,, ,Sacramento, CA 95828"
1015,"799,000",NaN,Watt Ave,"Watt Ave,, ,North Highlands, CA 95660"
1016,"450,000",NaN,34th St,"34th St,, ,North Highlands, CA 95660"
1020,"1,290,888",NaN,Lenhart Rd,"Lenhart Rd,, ,Sacramento, CA 95828"
1041,"788,888",NaN,"588,060 (on 13.50 acres)","9375 Calvine Rd,, ,Sacramento, CA 95829"
1085,"248,989",NaN,8040 Augusta Way,"8040 Augusta Way,, ,Sacramento, CA 95828"
1087,"2,300,000",NaN,San Juan Rd,"San Juan Rd,, ,Sacramento, CA 95833"
1088,"2,375,000",NaN,10076 Florin Rd,"10076 Florin Rd,, ,Sacramento, CA 95829"
1091,"100,000",NaN,310 Nimitz St,"310 Nimitz St,, ,Sacramento, CA 95838"

I checked those houses on Trulia and they are actually not houses but lands. For the scope of this project, we will remove these lines

In [4]:
df.dropna(inplace=True)

In [5]:
df.isna().sum()

price      0
bd&ba      0
sqft       0
address    0
dtype: int64

Let's take a look at unique values in 'bd&ba' column

In [6]:
df['bd&ba'].unique()

array(['3bd,3ba', '4bd,3ba', '1bd,1ba', '3bd,2ba', '2bd,1ba', '3bd,1ba',
       '1bd,2ba', '5bd,3ba', '4bd,2ba', '2bd,2ba', 'Studio', '2bd',
       '5bd,5ba', '2bd,3ba', '3bd,4ba', '4bd,4ba', '5bd,2ba', '4bd,1ba',
       '4bd', '1bd', '5bd,4ba', '4bd,5ba', '6bd', '6bd,2ba', '7bd,4ba',
       '8bd,8ba', '5bd,6ba', '7bd', '5bd', '10bd', '6bd,4ba', '6bd,3ba',
       '6bd,9ba', '3bd', 'Studio,2ba', '18bd', '8bd', '5bd,7ba',
       '6bd,5ba', '6bd,6ba', '6bd,8ba'], dtype=object)

In [7]:
df[df['bd&ba']=='Studio,2ba']

       price       bd&ba   sqft                                   address
974  429,000  Studio,2ba  1,488  2223 Marconi Ave,, ,Sacramento, CA 95821

In [8]:
# We're going to drop this row as well
df = df[df['bd&ba'] != 'Studio,2ba']

In [9]:
df['bd&ba'].unique()

array(['3bd,3ba', '4bd,3ba', '1bd,1ba', '3bd,2ba', '2bd,1ba', '3bd,1ba',
       '1bd,2ba', '5bd,3ba', '4bd,2ba', '2bd,2ba', 'Studio', '2bd',
       '5bd,5ba', '2bd,3ba', '3bd,4ba', '4bd,4ba', '5bd,2ba', '4bd,1ba',
       '4bd', '1bd', '5bd,4ba', '4bd,5ba', '6bd', '6bd,2ba', '7bd,4ba',
       '8bd,8ba', '5bd,6ba', '7bd', '5bd', '10bd', '6bd,4ba', '6bd,3ba',
       '6bd,9ba', '3bd', '18bd', '8bd', '5bd,7ba', '6bd,5ba', '6bd,6ba',
       '6bd,8ba'], dtype=object)

In [10]:
df[df['bd&ba']=='Studio']

,price,bd&ba,sqft,address
19,"550,000",Studio,"3,180","715 Dixieanne Ave,, ,Sacramento, CA 95815"
34,"399,000",Studio,"1,623 (on 0.75 acres)","5653 Martin Luther King Jr Blvd,, ,Sacramento,..."
42,"989,000",Studio,"2,982","1003 40th St,, ,Sacramento, CA 95819"
352,"1,750,000",Studio,"6,000","1421 G St,, ,Sacramento, CA 95814"
434,"518,000",Studio,"1,936","3424 Viking Dr,, ,Sacramento, CA 95827"
617,"995,000",Studio,"1,600 (on 2.50 acres)","4851 Warren Ave,, ,Sacramento, CA 95838"
764,"1,587,500",Studio,"7,920 (on 1 acre)","1875 Glenrose Ave,, ,Sacramento, CA 95815"
879,"440,000",Studio,"2,057","8505 German Dr,, ,Sacramento, CA 95828"
896,"499,000",Studio,841,"5140 42nd St,, ,Sacramento, CA 95820"
944,"900,000",Studio,"1,900 (on 0.25 acres)","8921 Canberra Dr,, ,Sacramento, CA 95826"

Upon checking the studio house in trulia, those information are lacking. And since there's only 10 records, we're dropping them as well

In [11]:
df = df[df['bd&ba']!='Studio']

In [12]:
df['bd&ba'].unique()

array(['3bd,3ba', '4bd,3ba', '1bd,1ba', '3bd,2ba', '2bd,1ba', '3bd,1ba',
       '1bd,2ba', '5bd,3ba', '4bd,2ba', '2bd,2ba', '2bd', '5bd,5ba',
       '2bd,3ba', '3bd,4ba', '4bd,4ba', '5bd,2ba', '4bd,1ba', '4bd',
       '1bd', '5bd,4ba', '4bd,5ba', '6bd', '6bd,2ba', '7bd,4ba',
       '8bd,8ba', '5bd,6ba', '7bd', '5bd', '10bd', '6bd,4ba', '6bd,3ba',
       '6bd,9ba', '3bd', '18bd', '8bd', '5bd,7ba', '6bd,5ba', '6bd,6ba',
       '6bd,8ba'], dtype=object)

### Impute missing value

#### 'ba' column

In [13]:
df[['bd','ba']] = df['bd&ba'].str.split(',',expand=True)

In [14]:
df

,price,bd&ba,sqft,address,bd,ba
0,"689,000","3bd,3ba","2,235","7368 Flowerwood Way,, ,Sacramento, CA 95831",3bd,3ba
1,"625,000","4bd,3ba","2,299","3707 Iskenderun Ave,, ,Sacramento, CA 95834",4bd,3ba
2,"224,500","1bd,1ba",667,"4200 E Commerce Way #1113,, ,Sacramento, CA 95834",1bd,1ba
3,"340,000","3bd,2ba","1,084","6 Ashley Oaks Ct,, ,Sacramento, CA 95815",3bd,2ba
4,"399,000","3bd,2ba","1,394","7970 Bastien Ct,, ,Sacramento, CA 95828",3bd,2ba
...,...,...,...,...,...,...
1120,"519,900","3bd,2ba","1,430","4900 Boyd Dr,, ,Carmichael, CA 95608",3bd,2ba
1121,"369,900","2bd,2ba","1,281","2637 Independence Ave,, ,West Sacramento, CA 9...",2bd,2ba
1122,"799,000","4bd,4ba","3,152","9867 Cape Verde Dr,, ,Elk Grove, CA 95757",4bd,4ba
1123,"485,000","3bd,2ba","1,262","1909 Yarnell Way,, ,Elk Grove, CA 95758",3bd,2ba
1124,"395,000","2bd,1ba",768,"410 Berkeley Ave,, ,Roseville, CA 95678",2bd,1ba

In [15]:
df[df['ba'].isna()]

,price,bd&ba,sqft,address,bd,ba
21,"565,000",2bd,"2,030","4700 Large Oak Ct,, ,Sacramento, CA 95841",2bd,None
24,"597,000",2bd,"2,442","2700 Matheson Way,, ,Sacramento, CA 95864",2bd,None
48,"459,900",2bd,"1,638","2509 Michelle Dr,, ,Sacramento, CA 95821",2bd,None
56,"685,000",2bd,"2,185","3323 Routier Rd,, ,Sacramento, CA 95827",2bd,None
57,"455,000",2bd,"1,025","8501 German Dr,, ,Sacramento, CA 95828",2bd,None
...,...,...,...,...,...,...
1062,"2,400,000",3bd,"6,186","1317 G St,, ,Sacramento, CA 95814",3bd,None
1075,"669,990",2bd,"1,538","2817 Marshall Way,, ,Sacramento, CA 95818",2bd,None
1090,"639,000",1bd,420 Cleveland Ave,"420 Cleveland Ave,, ,Sacramento, CA 95833",1bd,None
1092,"2,500,000",5bd,"2,457 (on 6.50 acres)","7901 Stevenson Ave,, ,Sacramento, CA 95828",5bd,None
1093,"250,000",2bd,919,"3255 West St,, ,Sacramento, CA 95817",2bd,None

Looks good so far, now we can remove the 'bd' and 'ba' in our column and turn it into int type

In [16]:
df['bd'] = df['bd'].str.replace('bd','')
# df['ba'] = df['ba'].str.replace('ba','')

In [17]:
df

,price,bd&ba,sqft,address,bd,ba
0,"689,000","3bd,3ba","2,235","7368 Flowerwood Way,, ,Sacramento, CA 95831",3,3ba
1,"625,000","4bd,3ba","2,299","3707 Iskenderun Ave,, ,Sacramento, CA 95834",4,3ba
2,"224,500","1bd,1ba",667,"4200 E Commerce Way #1113,, ,Sacramento, CA 95834",1,1ba
3,"340,000","3bd,2ba","1,084","6 Ashley Oaks Ct,, ,Sacramento, CA 95815",3,2ba
4,"399,000","3bd,2ba","1,394","7970 Bastien Ct,, ,Sacramento, CA 95828",3,2ba
...,...,...,...,...,...,...
1120,"519,900","3bd,2ba","1,430","4900 Boyd Dr,, ,Carmichael, CA 95608",3,2ba
1121,"369,900","2bd,2ba","1,281","2637 Independence Ave,, ,West Sacramento, CA 9...",2,2ba
1122,"799,000","4bd,4ba","3,152","9867 Cape Verde Dr,, ,Elk Grove, CA 95757",4,4ba
1123,"485,000","3bd,2ba","1,262","1909 Yarnell Way,, ,Elk Grove, CA 95758",3,2ba
1124,"395,000","2bd,1ba",768,"410 Berkeley Ave,, ,Roseville, CA 95678",2,1ba

In [18]:
df['bd'] = df['bd'].astype(int)

In [19]:
df.dtypes

price      object
bd&ba      object
sqft       object
address    object
bd          int32
ba         object
dtype: object

We would want to see for each type of number of bedroom, what is the most appeared within each number of bedroom

In [20]:
df[['bd','ba']].groupby(['bd']).agg(pd.Series.mode)

     ba
bd
1   1ba
2   2ba
3   2ba
4   3ba
5   3ba
6   4ba
7   4ba
8   8ba
10   []
18   []

Now, let's create a function to impute missing data in 'ba' column

In [21]:
def impute_ba(cols):
    ba = cols[0]
    bd = cols[1]

    if pd.isna(ba):
        if bd == 1:
            return '1ba'
        elif (bd == 2) & (bd==3):
            return '2ba'
        elif (bd == 4) & (bd==5):
            return '3ba'
        elif (bd == 6) & (bd==7):
            return '4ba'
        else:
            return str(bd)+'ba'
        
    else:
        return ba

Impute missing value

In [22]:
df['ba'] = df[['ba','bd']].apply(impute_ba, axis=1)

Let's check our data again!

In [24]:
df.isna().sum()

price      0
bd&ba      0
sqft       0
address    0
bd         0
ba         0
dtype: int64

In [25]:
df['ba'].unique()

array(['3ba', '1ba', '2ba', '5ba', '4ba', '6ba', '8ba', '7ba', '10ba',
       '9ba', '18ba'], dtype=object)

Now, let's repeat the same steps we did with 'bd' column, we first remove 'ba' and change the column to int type

In [26]:
df['ba'] = df['ba'].str.replace('ba','')
df['ba'] = df['ba'].astype(int)

In [27]:
df

,price,bd&ba,sqft,address,bd,ba
0,"689,000","3bd,3ba","2,235","7368 Flowerwood Way,, ,Sacramento, CA 95831",3,3
1,"625,000","4bd,3ba","2,299","3707 Iskenderun Ave,, ,Sacramento, CA 95834",4,3
2,"224,500","1bd,1ba",667,"4200 E Commerce Way #1113,, ,Sacramento, CA 95834",1,1
3,"340,000","3bd,2ba","1,084","6 Ashley Oaks Ct,, ,Sacramento, CA 95815",3,2
4,"399,000","3bd,2ba","1,394","7970 Bastien Ct,, ,Sacramento, CA 95828",3,2
...,...,...,...,...,...,...
1120,"519,900","3bd,2ba","1,430","4900 Boyd Dr,, ,Carmichael, CA 95608",3,2
1121,"369,900","2bd,2ba","1,281","2637 Independence Ave,, ,West Sacramento, CA 9...",2,2
1122,"799,000","4bd,4ba","3,152","9867 Cape Verde Dr,, ,Elk Grove, CA 95757",4,4
1123,"485,000","3bd,2ba","1,262","1909 Yarnell Way,, ,Elk Grove, CA 95758",3,2
1124,"395,000","2bd,1ba",768,"410 Berkeley Ave,, ,Roseville, CA 95678",2,1

#### Price Column

In [29]:
df['price'].unique()

array(['689,000', '625,000', '224,500', '340,000', '399,000', '180,000',
       '409,900', '545,000', '291,000', '890,000', '399,900', '459,000',
       '499,000', '549,900', '575,000', '59,900', '499,900', '555,000',
       '429,000', '565,000', '589,000', '1,295,000', '597,000', '599,900',
       '620,000', '455,500', '359,900', '599,000', '515,000', '779,900',
       '500,000', '720,000', '434,900+', '1,156,641+', '650,000',
       '998,888', '215,000', '699,900', '449,777', '425,000', '459,900',
       '349,000', '290,000', '455,000', '410,000', '549,000', '900,000',
       '375,000', '685,000', '795,000', '509,990+', '488,990+', '450,000',
       '349,999', '1,199,000', '673,490+', '472,990+', '459,900+',
       '775,000', '675,000', '760,000', '495,000', '659,999', '635,000',
       '495,500', '1,775,000', '550,000', '199,500', '480,000', '477,000',
       '535,000', '329,900', '628,000', '374,310+', '869,990+',
       '469,900+', '571,950+', '558,990+', '515,990+', '699,990+',
       '499,950+', '419,000', '529,000', '489,990+', '465,990+',
       '759,990+', '504,990+', '500,990+', '383,990+', '899,990+',
       '1,173,400+', '400,000', '514,900+', '447,305+', '1,348,632+',
       '499,900+', '525,990+', '580,000', '929,000', '415,000', '456,000',
       '249,000', '749,900', '315,000', '349,900', '389,000', '399,888',
       '435,000', '335,000', '870,000', '330,000', '469,000', '210,000',
       '2,275,000', '449,000', '34,900', '95,000', '799,900', '139,950',
       '699,000', '369,000', '525,000', '750,000', '285,000', '885,000',
       '329,000', '595,000', '320,000', '259,950', '325,000', '430,000',
       '418,500', '540,000', '365,000', '494,000', '350,000', '255,000',
       '539,000', '440,000', '444,990', '449,888', '879,000', '389,999',
       '270,000', '467,900', '359,000', '636,950+', '516,990+', '949,000',
       '379,000', '690,000', '419,900', '459,500', '475,000', '479,900',
       '558,000', '242,900', '310,000', '615,000', '1,589,000', '319,000',
       '370,000', '453,200', '514,900', '84,900', '29,900', '541,000',
       '424,900', '529,100', '453,000', '569,950', '339,000', '374,900',
       '629,900', '510,000', '739,900', '587,990+', '456,016+',
       '386,700+', '1,050,000', '525,500', '950,000', '300,000',
       '589,900', '599,990+', '819,990+', '521,990+', '569,950+',
       '562,990+', '659,000', '999,000', '401,600+', '412,990+',
       '549,900+', '383,000+', '199,000', '673,200', '465,000', '513,200',
       '299,000', '79,900', '969,000', '490,000', '1,604,990', '476,000',
       '2,600,000', '209,000', '135,000', '69,000', '999,999', '674,900',
       '1,299,995', '1,250,000', '665,000', '749,950', '879,900',
       '659,888', '1,499,000', '368,000', '581,950+', '578,990+',
       '395,000', '455,990+', '480,990+', '470,990+', '460,990+',
       '649,900', '280,000', '372,500', '127,000', '779,000', '1,125,000',
       '493,880', '420,000', '2,299,999', '385,000', '979,000', '649,950',
       '54,900', '289,000', '599,999', '725,000', '364,000', '995,000',
       '439,000', '424,999', '866,000', '479,000', '1,484,990', '624,900',
       '298,000', '669,900', '497,500', '412,000', '496,880', '498,880',
       '1,850,000', '389,900', '1,640,000', '407,000', '499,999',
       '190,000', '595,888', '409,000+', '649,000', '470,000',
       '1,580,000', '585,000', '1,360,015', '367,500', '220,000',
       '512,000', '649,500', '308,000', '449,999', '374,999', '105,000',
       '364,950', '494,200', '409,000', '980,000', '124,900', '449,900',
       '509,900', '377,000', '299,999', '735,900', '249,900', '559,000',
       '379,900', '724,999', '1,300,000', '547,000', '405,000', '159,900',
       '875,000', '467,500', '329,500', '460,000', '550,950+', '114,999',
       '494,900', '485,000', '695,990+', '574,000', '282,500', '53,000',
       '498,000', '439,200', '1,149,000', '205,000', '594,400', '524,000',
       '449,500', '649,999', '364,900', '560,000', '399,999', '119,500',
       '755,000', '723,000', '68,000', '740,490+', '479,990+', '464,000',
       '524,900', '1,540,000', '499,888', '551,950+', '544,990+',
       '631,490+', '1,099,000', '869,000', '798,000', '509,999',
       '1,655,000', '97,000', '2,450,000', '189,900', '299,900',
       '529,999', '390,000', '769,900', '279,700', '444,000', '75,000',
       '129,900', '489,900', '74,900', '358,000', '691,990', '1,525,000',
       '455,999', '2,195,000', '520,000', '655,000', '195,000', '295,000',
       '579,950+', '859,000', '845,000', '582,000', '574,950', '662,000',
       '765,000', '679,999', '229,888', '574,999', '179,500', '418,000',
       '1,190,000', '260,000', '248,888', '670,000', '474,999', '989,000',
       '474,500', '398,000', '1,500,000', '825,000', '507,000', '599,950',
       '384,900', '600,000', '1,390,000', '57,500', '640,000', '436,300',
       '539,900', '495,888', '94,000', '1,075,000', '429,900', '554,950',
       '69,900', '349,995', '849,000', '222,500', '259,999', '439,900',
       '659,900', '693,000', '94,900', '691,000', '125,000', '445,000',
       '1,599,000', '530,000', '505,000', '549,999', '899,000', '569,000',
       '1,649,999', '225,000', '47,900', '421,000', '268,000', '360,000',
       '369,900', '345,000', '399,500', '275,000', '250,000', '339,900',
       '815,000', '319,500', '549,995', '235,000', '126,900', '1,150,000',
       '289,900', '895,000', '1,174,950', '1,195,000', '3,295,000',
       '1,450,000', '559,900', '5,200,000', '732,990+', '567,990+',
       '575,990+', '618,990+', '640,990+', '688,000', '679,990+',
       '586,990+', '585,990+', '1,695,000', '464,900', '394,900',
       '838,000', '488,800', '297,188', '439,500', '799,888', '666,990+',
       '679,000', '374,000', '535,990+', '573,990+', '598,950', '80,000',
       '715,000', '745,000', '1,156,641', '799,000', '799,999',
       '2,295,000', '1,200,000', '389,888', '1,650,000', '701,990+',
       '592,990+', '762,990+', '571,990+', '524,990+', '777,990+',
       '55,999', '1,990,000', '637,990+', '631,990+', '796,990+',
       '1,275,000', '1,290,000', '899,900', '649,444', '384,000',
       '829,000', '317,400', '707,000', '621,990+', '554,990+',
       '673,990+', '698,990+', '704,990+', '50,000', '269,000',
       '600,990+', '788,990+', '664,990+', '489,000', '1,039,000',
       '1,030,000', '1,587,770', '1,335,000', '129,999', '327,000',
       '660,990+', '69,500', '184,900', '1,699,000', '122,000',
       '643,990+', '822,990+', '1,095,000', '3,999,995', '532,900',
       '97,900', '411,000', '399,990', '132,000', '747,990+', '1,895,000',
       '2,200,000', '1,490,000', '2,149,000', '1,585,000', '631,000',
       '439,995', '680,000', '579,000', '860,000', '1,375,000',
       '3,600,000', '336,000', '10,000,000', '1,400,000', '774,999',
       '1,359,000', '539,888', '925,000', '439,700', '539,950', '630,000',
       '347,000', '1,579,000', '959,000', '785,000', '347,500',
       '2,400,000', '674,000', '42,000', '2,495,000', '673,000',
       '669,990', '1,899,999', '2,800,000', '618,278', '1,245,000',
       '3,500,000', '1,740,000', '2,300,000', '85,000', '639,000',
       '2,500,000', '1,750,000', '488,000', '641,900', '569,900',
       '519,900'], dtype=object)

As we could see, we need to remove the comma and the plus sign, let's do it

Now, let's convert it into integer type

## Price column cleaning

In [ ]:
# Need regular expression to make it cleaner

In [30]:
df['price'] = df['price'].str.replace(r'[,+]','')

C:\Users\dung_\anaconda3\envs\webml\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

Now, let's convert it to int type

In [35]:
df['price'] = df['price'].astype(int)

In [36]:
df.dtypes

price       int32
bd&ba      object
sqft       object
address    object
bd         object
ba         object
dtype: object

### Sqft Column

In [37]:
df['sqft'].unique()

array(['2,235', '2,299', '667', '1,084', '1,394', '840', '1,018', '2,013',
       '1,125', '3,420 (on 0.50 acres)', '1,149 (on 0.25 acres)', '1,324',
       '1,716', '1,584', '2,219', '1,184', '1,440', '1,697', '2,090',
       '1,160', '2,030', '1,000', '3,651', '2,442',
       '1,645 (on 0.25 acres)', '2,195', '1,838 (on 0.25 acres)', '1,193',
       '1,984', '2,097', '1,887', '1,388', '1,722',
       '1,144 (on 0.75 acres)', '1,471', '1,762', '2,225 (on 0.25 acres)',
       '1,229', '2,202', '1,165', '2,694', '682', '1,897 (on 1.75 acres)',
       '1,209', '1,686', '1,638', '1,001', '1,353', '1,272', '2,017',
       '2,517 (on 0.50 acres)', '1,008', '2,185', '1,025',
       '2,322 (on 0.25 acres)', '2,298', '1,417', '1,684', '970', '3,046',
       '2,689', '1,467', '1,434', '2,190', '2,845 (on 0.25 acres)',
       '2,517', '1,323', '1,940 (on 0.25 acres)', '1,456', '2,126',
       '2,011', '1,163', '3,856 (on 0.75 acres)', '924', '1,709', '1,593',
       '1,320', '1,261', '1,504', '783', '1,402', '1,053', '2,347',
       '1,362', '1,989', '1,562', '1,900', '1,945', '1,454', '1,618',
       '1,280', '1,274', '1,344', '1,713', '1,565', '1,408', '1,704',
       '1,892', '1,535', '1,492', '2,044', '2,515', '1,355', '1,064',
       '1,843', '1,761', '2,707', '1,826', '1,521',
       '2,489 (on 0.50 acres)', '1,144', '1,438', '1,568', '956', '2,721',
       '1,035', '1,132', '1,155', '1,422', '1,662', '988',
       '1,774 (on 0.25 acres)', '967', '1,881', '1,450',
       '1 (on 4.75 acres)', '1,039', '660', '1,786', '1,248', '2,811',
       '1,119', '1,538', '874', '2,401', '804', '2,049', '900',
       '1,303 (on 0.25 acres)', '1,011', '3,188 (on 0.50 acres)', '1,771',
       '1,288', '1,126', '1,852', '816', '1,190', '1,885', '1,755',
       '1,537', '1,128', '1,836', '1,426', '1,271', '2,275', '1,284',
       '979', '1,302', '1,720', '778 (on 0.25 acres)', '1,797',
       '3,686 (on 0.50 acres)', '2,620', '1,705', '927', '1,577', '3,695',
       '1,494', '1,581', '3,319', '1,734', '1,490', '1,085', '1,327',
       '2,211', '1,032', '984 (on 0.50 acres)', '840 (on 1,910 acres)',
       '864', '940', '2,193', '1,632', '2,450', '1,318', '1,150', '1,114',
       '1,120', '1,726 (on 0.25 acres)', '886', '1,247', '806', '1,056',
       '560', '1,629', '1,075', '1,040', '1,300', '1,486', '1,182',
       '2,099 (on 0.25 acres)', '2,552', '1,200', '1,361', '899', '2,444',
       '2,417', '2,060', '3,420', '2,692', '1,256', '2,018', '1,774',
       '1,306', '2,677 (on 0.25 acres)', '1,483', '1,152', '1,480',
       '1,553', '1,950', '1,818', '1,779', '1,750', '2,071', '1,074',
       '1,137', '1,391', '2,731', '2,053', '1,354', '2,001', '1,295',
       '1,340', '968', '1,447', '2,370', '1,756', '1,294 (on 0.75 acres)',
       '2,443', '1,910', '1,311', '1,013', '2,678', '1,621', '2,716',
       '1,200 (on 0.25 acres)', '901', '1,175 (on 0.25 acres)', '1,287',
       '4,464 (on 0.75 acres)', '3,473', '1,092', '733', '1,576', '1,975',
       '3,039 (on 1.75 acres)', '1,742', '1,738', '3,174', '1,336',
       '2,161', '1,612', '3,284', '2,464', '983', '2,954', '3,427',
       '2,567', '1,051', '845', '3,991 (on 0.25 acres)', '2,206', '1,134',
       '1,547', '1,969', '1,811', '1,678', '1,949', '1,012', '1,097',
       '953', '729', '1,794', '2,389', '1,546', '1,055', '5,230', '2,465',
       '2,304', '1,911', '1,726', '3,493', '877', '2,143', '1,024', '996',
       '1,237 (on 10 acres)', '1,542', '1,785', '1,279', '3,124', '1,004',
       '2,922', '1,206', '1,631', '2,484', '1,622', '766', '2,500',
       '1,192', '1,335', '1,643', '2,078', '5,039 (on 0.75 acres)',
       '1,168', '721', '4,421 (on 0.75 acres)', '1,505', '1,428', '910',
       '484', '2,280', '1,941', '1,177', '1,145', '1,368', '1,277',
       '1,300 (on 4.25 acres)', '1,313', '2,270 (on 0.50 acres)', '2,129',
       '1,268', '670', '1,070', '1,815', '1,232', '1,613', '1,835',
       '1,087', '1,156', '1,157', '1,416', '833', '1,735', '1,029',
       '1,512', '1,444', '1,180', '2,222', '2,363', '1,744', '1,347',
       '1,104', '746', '1,956', '1,159', '1,685', '1,946', '905', '990',
       '3,417', '3,535', '2,262 (on 0.50 acres)', '1,619', '1,326',
       '1,281', '3,389', '1,922', '891', '1,500', '4,473', '1,772',
       '2,392', '1,314', '912', '936', '2,106', '2,265', '1,136', '1,135',
       '2,111', '1,224', '1,520', '1,179 (on 0.25 acres)', '1,077',
       '3,141', '1,090', '1,624', '1,010', '480', '1,194', '2,224',
       '1,328 (on 1.25 acres)', '2,117', '873 (on 0.25 acres)', '1,435',
       '2,372', '964', '1,297', '4,284', '1,283', '1,688', '1,650',
       '1,061', '3,243', '1,540', '1,582', '844', '1,920', '1,367',
       '2,131', '3,228 (on 0.50 acres)', '1,231', '2,000 (on 0.25 acres)',
       '2,368', '1,188', '1,345', '1,640', '1,824', '1,926', '1,420',
       '2,254 (on 0.25 acres)', '3,061', '1,904', '955', '1,217', '2,043',
       '1,400', '1,356', '1,603', '6,596 (on 1.75 acres)', '1,022',
       '1,113', '1,915', '1,365', '1,803', '800', '2,010', '2,218',
       '1,370', '1,380 (on 0.50 acres)', '1,089', '2,155',
       '1,114 (on 1.50 acres)', '1,383', '858', '1,414', '1,080', '2,393',
       '3,247', '1,727', '1,917', '4,353', '1,063', '2,958', '1,605',
       '933', '1,264', '1,880', '1,212', '2,000', '3,753', '1,054',
       '2,447 (on 0.50 acres)', '2,100', '1,375', '1,219',
       '2,320 (on 0.25 acres)', '1,289', '1,377', '1,730', '1,784',
       '2,157', '1,587', '1,606', '1,225 (on 0.25 acres)', '1,597', '814',
       '1,564', '2,209', '1,009', '828', '929', '763', '825', '466',
       '3,165', '1,834', '1,138', '1,470', '1,440 (on 0.25 acres)',
       '1,712', '822', '795', '1,316', '1819 W St',
       '2,543 (on 3.25 acres)', '1,250', '1,346', '1,395', '1,260',
       '1,411', '1,176', '1,713 (on 0.50 acres)', '1,124',
       '1,807 (on 0.25 acres)', '1,508', '1,754 (on 0.25 acres)', '1,557',
       '720', '3,401 (on 0.50 acres)', '1,498', '1,328', '810', '925',
       '960', '2,930', '1,020', '1,210', '1,044', '1,479', '1,423',
       '2,006', '3,738 (on 0.25 acres)', '1,082', '980',
       '3,326 (on 0.25 acres)', '2,836 (on 0.50 acres)', '3,738', '837',
       '1,282', '1,158', '1,482', '2,277', '3,109', '1,635', '2,093',
       '1,594 (on 0.25 acres)', '1,117', '1,424', '2,493', '3,031',
       '2,019', '2,413', '704', '2,122', '2,482', '952', '1,278', '1,207',
       '966', '1,652 (on 0.25 acres)', '1,291', '855 (on 0.50 acres)',
       '1,127', '1,050', '1,645', '1,487', '1,081', '1,840', '838',
       '1,374', '1,019', '1,205', '728', '1,118', '1,236', '1,357',
       '1,409 (on 0.25 acres)', '2,350', '801', '1,608', '1,143',
       '1,849 (on 1.50 acres)', '1,270', '3,297', '1,338', '1,059',
       '2,674', '2,538', '934', '706', '2,085', '5,527 (on 1 acre)',
       '1,478 (on 1 acre)', '524', '1,250 (on 5 acres)', '1,151',
       '10,000 (on 1.50 acres)', '3,100', '1,639', '3,312', '2,617',
       '2,365', '2,874', '1,644', '2,672', '2,414', '1,196', '2,511',
       '2,338', '3,175', '2,145', '1,626', '1,848', '3,056 (on 1 acre)',
       '1,590', '2,038', '2,136', '1,030', '1,350', '1,065', '1,995',
       '2,400', '2,067', '2,141', '1,746', '1,464', '1,871', '655',
       '3,008', '1,898', '2,066', '2,968', '1,101', '1,952', '1,637',
       '1,931', '1,086', '1,528', '1,675', '1,026 (on 10 acres)', '2,279',
       '5,212 (on 0.25 acres)', '1,100', '2,755 (on 13 acres)', '1,363',
       '2,503', '1,953', '1,129', '4,205 (on 0.50 acres)', '2,233',
       '2,869', '2,469', '2,307', '2,114', '3,391', '780', '2,715', '984',
       '3,240', '3,507 (on 1 acre)', '2,268', '3,647', '344', '2,226',
       '1,358', '1,477', '2,819 (on 4 acres)', '2,490', '1,173', '2,890',
       '2,362', '2,134', '2,679', '2,632', '3,104', '718', '1,330',
       '2,394', '3,425', '2,727', '1,981', '2,468 (on 0.50 acres)',
       '1,273', '1,503', '4,732', '2,196 (on 1 acre)', '2524 J St',
       '2,092', '1,598', '888', '2,786', '2,447', '1,681', '1,992',
       '2,551', '4,735', '1,002', '2,804', '3,940',
       '1,720 (on 0.50 acres)', '666 (on 0.25 acres)', '2512 28th Ave',
       '1,221 (on 3 acres)', '960 (on 1.75 acres)', '1,991', '1,230',
       '1,028', '879', '1,532', '1,093', '1,510', '1,441',
       '1,916 (on 0.25 acres)', '2,378', '1,108', '944', '1,617', '3,178',
       '5,232', '3,612', '4,149 (on 0.75 acres)', '3,900',
       '1,440 (on 4.50 acres)', '1,533', '1,836 (on 0.25 acres)', '1,253',
       '2,791', '1,588', '1,627', '1,460', '1,122', '1,714', '1,242',
       '3,464', '3,823', '1,689', '5,521 (on 20 acres)', '1,623', '2,855',
       '4,213', '3,331', '2,033', '2,582 (on 0.25 acres)',
       '1,930 (on 0.50 acres)', '1,404', '6,435 (on 2.50 acres)', '2,300',
       '4,250 (on 0.25 acres)', '2,031', '789 Carro Dr', '1,696', '6,186',
       '1,410', '2,072', '2,317 (on 0.50 acres)', '2,386 (on 0.50 acres)',
       '770', '7,600 (on 1 acre)', '1,630', '3,419 (on 10 acres)',
       '1,412 (on 4.25 acres)', '2,316 (on 0.75 acres)',
       '4,700 (on 138.75 acres)', '2,025', '570 (on 14.75 acres)',
       '2,002 (on 5.50 acres)', '1,596', '2,149', '1,060',
       '420 Cleveland Ave', '2,457 (on 6.50 acres)', '919',
       '2,518 (on 10 acres)', '1,873', '2,189', '1,674 (on 0.25 acres)',
       '1,819 (on 0.25 acres)', '1,820 (on 0.25 acres)', '1,567', '1,473',
       '1,654', '2,172 (on 2 acres)', '823', '1,430', '1,451', '2,847',
       '1,574', '1,269', '1,701', '1,896', '1,599', '1,531', '3,152',
       '1,262', '768'], dtype=object)

Besides the number, it sometimes will have the string "(on ... acres)", we will use regex to remove this part of out column

In [41]:
df['sqft'] = df['sqft'].str.replace(r'(\s)?\(.+\)','')

C:\Users\dung_\anaconda3\envs\webml\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

Now, to the comma

In [44]:
df['sqft'] = df['sqft'].str.replace(',','')

Convert it into int type

In [50]:
df['sqft'].unique()

array(['2235', '2299', '667', '1084', '1394', '840', '1018', '2013',
       '1125', '3420', '1149', '1324', '1716', '1584', '2219', '1184',
       '1440', '1697', '2090', '1160', '2030', '1000', '3651', '2442',
       '1645', '2195', '1838', '1193', '1984', '2097', '1887', '1388',
       '1722', '1144', '1471', '1762', '2225', '1229', '2202', '1165',
       '2694', '682', '1897', '1209', '1686', '1638', '1001', '1353',
       '1272', '2017', '2517', '1008', '2185', '1025', '2322', '2298',
       '1417', '1684', '970', '3046', '2689', '1467', '1434', '2190',
       '2845', '1323', '1940', '1456', '2126', '2011', '1163', '3856',
       '924', '1709', '1593', '1320', '1261', '1504', '783', '1402',
       '1053', '2347', '1362', '1989', '1562', '1900', '1945', '1454',
       '1618', '1280', '1274', '1344', '1713', '1565', '1408', '1704',
       '1892', '1535', '1492', '2044', '2515', '1355', '1064', '1843',
       '1761', '2707', '1826', '1521', '2489', '1438', '1568', '956',
       '2721', '1035', '1132', '1155', '1422', '1662', '988', '1774',
       '967', '1881', '1450', '1', '1039', '660', '1786', '1248', '2811',
       '1119', '1538', '874', '2401', '804', '2049', '900', '1303',
       '1011', '3188', '1771', '1288', '1126', '1852', '816', '1190',
       '1885', '1755', '1537', '1128', '1836', '1426', '1271', '2275',
       '1284', '979', '1302', '1720', '778', '1797', '3686', '2620',
       '1705', '927', '1577', '3695', '1494', '1581', '3319', '1734',
       '1490', '1085', '1327', '2211', '1032', '984', '864', '940',
       '2193', '1632', '2450', '1318', '1150', '1114', '1120', '1726',
       '886', '1247', '806', '1056', '560', '1629', '1075', '1040',
       '1300', '1486', '1182', '2099', '2552', '1200', '1361', '899',
       '2444', '2417', '2060', '2692', '1256', '2018', '1306', '2677',
       '1483', '1152', '1480', '1553', '1950', '1818', '1779', '1750',
       '2071', '1074', '1137', '1391', '2731', '2053', '1354', '2001',
       '1295', '1340', '968', '1447', '2370', '1756', '1294', '2443',
       '1910', '1311', '1013', '2678', '1621', '2716', '901', '1175',
       '1287', '4464', '3473', '1092', '733', '1576', '1975', '3039',
       '1742', '1738', '3174', '1336', '2161', '1612', '3284', '2464',
       '983', '2954', '3427', '2567', '1051', '845', '3991', '2206',
       '1134', '1547', '1969', '1811', '1678', '1949', '1012', '1097',
       '953', '729', '1794', '2389', '1546', '1055', '5230', '2465',
       '2304', '1911', '3493', '877', '2143', '1024', '996', '1237',
       '1542', '1785', '1279', '3124', '1004', '2922', '1206', '1631',
       '2484', '1622', '766', '2500', '1192', '1335', '1643', '2078',
       '5039', '1168', '721', '4421', '1505', '1428', '910', '484',
       '2280', '1941', '1177', '1145', '1368', '1277', '1313', '2270',
       '2129', '1268', '670', '1070', '1815', '1232', '1613', '1835',
       '1087', '1156', '1157', '1416', '833', '1735', '1029', '1512',
       '1444', '1180', '2222', '2363', '1744', '1347', '1104', '746',
       '1956', '1159', '1685', '1946', '905', '990', '3417', '3535',
       '2262', '1619', '1326', '1281', '3389', '1922', '891', '1500',
       '4473', '1772', '2392', '1314', '912', '936', '2106', '2265',
       '1136', '1135', '2111', '1224', '1520', '1179', '1077', '3141',
       '1090', '1624', '1010', '480', '1194', '2224', '1328', '2117',
       '873', '1435', '2372', '964', '1297', '4284', '1283', '1688',
       '1650', '1061', '3243', '1540', '1582', '844', '1920', '1367',
       '2131', '3228', '1231', '2000', '2368', '1188', '1345', '1640',
       '1824', '1926', '1420', '2254', '3061', '1904', '955', '1217',
       '2043', '1400', '1356', '1603', '6596', '1022', '1113', '1915',
       '1365', '1803', '800', '2010', '2218', '1370', '1380', '1089',
       '2155', '1383', '858', '1414', '1080', '2393', '3247', '1727',
       '1917', '4353', '1063', '2958', '1605', '933', '1264', '1880',
       '1212', '3753', '1054', '2447', '2100', '1375', '1219', '2320',
       '1289', '1377', '1730', '1784', '2157', '1587', '1606', '1225',
       '1597', '814', '1564', '2209', '1009', '828', '929', '763', '825',
       '466', '3165', '1834', '1138', '1470', '1712', '822', '795',
       '1316', '1819 W St', '2543', '1250', '1346', '1395', '1260',
       '1411', '1176', '1124', '1807', '1508', '1754', '1557', '720',
       '3401', '1498', '810', '925', '960', '2930', '1020', '1210',
       '1044', '1479', '1423', '2006', '3738', '1082', '980', '3326',
       '2836', '837', '1282', '1158', '1482', '2277', '3109', '1635',
       '2093', '1594', '1117', '1424', '2493', '3031', '2019', '2413',
       '704', '2122', '2482', '952', '1278', '1207', '966', '1652',
       '1291', '855', '1127', '1050', '1487', '1081', '1840', '838',
       '1374', '1019', '1205', '728', '1118', '1236', '1357', '1409',
       '2350', '801', '1608', '1143', '1849', '1270', '3297', '1338',
       '1059', '2674', '2538', '934', '706', '2085', '5527', '1478',
       '524', '1151', '10000', '3100', '1639', '3312', '2617', '2365',
       '2874', '1644', '2672', '2414', '1196', '2511', '2338', '3175',
       '2145', '1626', '1848', '3056', '1590', '2038', '2136', '1030',
       '1350', '1065', '1995', '2400', '2067', '2141', '1746', '1464',
       '1871', '655', '3008', '1898', '2066', '2968', '1101', '1952',
       '1637', '1931', '1086', '1528', '1675', '1026', '2279', '5212',
       '1100', '2755', '1363', '2503', '1953', '1129', '4205', '2233',
       '2869', '2469', '2307', '2114', '3391', '780', '2715', '3240',
       '3507', '2268', '3647', '344', '2226', '1358', '1477', '2819',
       '2490', '1173', '2890', '2362', '2134', '2679', '2632', '3104',
       '718', '1330', '2394', '3425', '2727', '1981', '2468', '1273',
       '1503', '4732', '2196', '2524 J St', '2092', '1598', '888', '2786',
       '1681', '1992', '2551', '4735', '1002', '2804', '3940', '666',
       '2512 28th Ave', '1221', '1991', '1230', '1028', '879', '1532',
       '1093', '1510', '1441', '1916', '2378', '1108', '944', '1617',
       '3178', '5232', '3612', '4149', '3900', '1533', '1253', '2791',
       '1588', '1627', '1460', '1122', '1714', '1242', '3464', '3823',
       '1689', '5521', '1623', '2855', '4213', '3331', '2033', '2582',
       '1930', '1404', '6435', '2300', '4250', '2031', '789 Carro Dr',
       '1696', '6186', '1410', '2072', '2317', '2386', '770', '7600',
       '1630', '3419', '1412', '2316', '4700', '2025', '570', '2002',
       '1596', '2149', '1060', '420 Cleveland Ave', '2457', '919', '2518',
       '1873', '2189', '1674', '1819', '1820', '1567', '1473', '1654',
       '2172', '823', '1430', '1451', '2847', '1574', '1269', '1701',
       '1896', '1599', '1531', '3152', '1262', '768'], dtype=object)

Let's remove it the lines with address instead of sqft number, we are going to drop them as well

In [51]:
pattern = '\s.+'
filter = df['sqft'].str.contains(pattern)

In [52]:
df = df[~filter]

In [53]:
df['sqft'].unique()

array(['2235', '2299', '667', '1084', '1394', '840', '1018', '2013',
       '1125', '3420', '1149', '1324', '1716', '1584', '2219', '1184',
       '1440', '1697', '2090', '1160', '2030', '1000', '3651', '2442',
       '1645', '2195', '1838', '1193', '1984', '2097', '1887', '1388',
       '1722', '1144', '1471', '1762', '2225', '1229', '2202', '1165',
       '2694', '682', '1897', '1209', '1686', '1638', '1001', '1353',
       '1272', '2017', '2517', '1008', '2185', '1025', '2322', '2298',
       '1417', '1684', '970', '3046', '2689', '1467', '1434', '2190',
       '2845', '1323', '1940', '1456', '2126', '2011', '1163', '3856',
       '924', '1709', '1593', '1320', '1261', '1504', '783', '1402',
       '1053', '2347', '1362', '1989', '1562', '1900', '1945', '1454',
       '1618', '1280', '1274', '1344', '1713', '1565', '1408', '1704',
       '1892', '1535', '1492', '2044', '2515', '1355', '1064', '1843',
       '1761', '2707', '1826', '1521', '2489', '1438', '1568', '956',
       '2721', '1035', '1132', '1155', '1422', '1662', '988', '1774',
       '967', '1881', '1450', '1', '1039', '660', '1786', '1248', '2811',
       '1119', '1538', '874', '2401', '804', '2049', '900', '1303',
       '1011', '3188', '1771', '1288', '1126', '1852', '816', '1190',
       '1885', '1755', '1537', '1128', '1836', '1426', '1271', '2275',
       '1284', '979', '1302', '1720', '778', '1797', '3686', '2620',
       '1705', '927', '1577', '3695', '1494', '1581', '3319', '1734',
       '1490', '1085', '1327', '2211', '1032', '984', '864', '940',
       '2193', '1632', '2450', '1318', '1150', '1114', '1120', '1726',
       '886', '1247', '806', '1056', '560', '1629', '1075', '1040',
       '1300', '1486', '1182', '2099', '2552', '1200', '1361', '899',
       '2444', '2417', '2060', '2692', '1256', '2018', '1306', '2677',
       '1483', '1152', '1480', '1553', '1950', '1818', '1779', '1750',
       '2071', '1074', '1137', '1391', '2731', '2053', '1354', '2001',
       '1295', '1340', '968', '1447', '2370', '1756', '1294', '2443',
       '1910', '1311', '1013', '2678', '1621', '2716', '901', '1175',
       '1287', '4464', '3473', '1092', '733', '1576', '1975', '3039',
       '1742', '1738', '3174', '1336', '2161', '1612', '3284', '2464',
       '983', '2954', '3427', '2567', '1051', '845', '3991', '2206',
       '1134', '1547', '1969', '1811', '1678', '1949', '1012', '1097',
       '953', '729', '1794', '2389', '1546', '1055', '5230', '2465',
       '2304', '1911', '3493', '877', '2143', '1024', '996', '1237',
       '1542', '1785', '1279', '3124', '1004', '2922', '1206', '1631',
       '2484', '1622', '766', '2500', '1192', '1335', '1643', '2078',
       '5039', '1168', '721', '4421', '1505', '1428', '910', '484',
       '2280', '1941', '1177', '1145', '1368', '1277', '1313', '2270',
       '2129', '1268', '670', '1070', '1815', '1232', '1613', '1835',
       '1087', '1156', '1157', '1416', '833', '1735', '1029', '1512',
       '1444', '1180', '2222', '2363', '1744', '1347', '1104', '746',
       '1956', '1159', '1685', '1946', '905', '990', '3417', '3535',
       '2262', '1619', '1326', '1281', '3389', '1922', '891', '1500',
       '4473', '1772', '2392', '1314', '912', '936', '2106', '2265',
       '1136', '1135', '2111', '1224', '1520', '1179', '1077', '3141',
       '1090', '1624', '1010', '480', '1194', '2224', '1328', '2117',
       '873', '1435', '2372', '964', '1297', '4284', '1283', '1688',
       '1650', '1061', '3243', '1540', '1582', '844', '1920', '1367',
       '2131', '3228', '1231', '2000', '2368', '1188', '1345', '1640',
       '1824', '1926', '1420', '2254', '3061', '1904', '955', '1217',
       '2043', '1400', '1356', '1603', '6596', '1022', '1113', '1915',
       '1365', '1803', '800', '2010', '2218', '1370', '1380', '1089',
       '2155', '1383', '858', '1414', '1080', '2393', '3247', '1727',
       '1917', '4353', '1063', '2958', '1605', '933', '1264', '1880',
       '1212', '3753', '1054', '2447', '2100', '1375', '1219', '2320',
       '1289', '1377', '1730', '1784', '2157', '1587', '1606', '1225',
       '1597', '814', '1564', '2209', '1009', '828', '929', '763', '825',
       '466', '3165', '1834', '1138', '1470', '1712', '822', '795',
       '1316', '2543', '1250', '1346', '1395', '1260', '1411', '1176',
       '1124', '1807', '1508', '1754', '1557', '720', '3401', '1498',
       '810', '925', '960', '2930', '1020', '1210', '1044', '1479',
       '1423', '2006', '3738', '1082', '980', '3326', '2836', '837',
       '1282', '1158', '1482', '2277', '3109', '1635', '2093', '1594',
       '1117', '1424', '2493', '3031', '2019', '2413', '704', '2122',
       '2482', '952', '1278', '1207', '966', '1652', '1291', '855',
       '1127', '1050', '1487', '1081', '1840', '838', '1374', '1019',
       '1205', '728', '1118', '1236', '1357', '1409', '2350', '801',
       '1608', '1143', '1849', '1270', '3297', '1338', '1059', '2674',
       '2538', '934', '706', '2085', '5527', '1478', '524', '1151',
       '10000', '3100', '1639', '3312', '2617', '2365', '2874', '1644',
       '2672', '2414', '1196', '2511', '2338', '3175', '2145', '1626',
       '1848', '3056', '1590', '2038', '2136', '1030', '1350', '1065',
       '1995', '2400', '2067', '2141', '1746', '1464', '1871', '655',
       '3008', '1898', '2066', '2968', '1101', '1952', '1637', '1931',
       '1086', '1528', '1675', '1026', '2279', '5212', '1100', '2755',
       '1363', '2503', '1953', '1129', '4205', '2233', '2869', '2469',
       '2307', '2114', '3391', '780', '2715', '3240', '3507', '2268',
       '3647', '344', '2226', '1358', '1477', '2819', '2490', '1173',
       '2890', '2362', '2134', '2679', '2632', '3104', '718', '1330',
       '2394', '3425', '2727', '1981', '2468', '1273', '1503', '4732',
       '2196', '2092', '1598', '888', '2786', '1681', '1992', '2551',
       '4735', '1002', '2804', '3940', '666', '1221', '1991', '1230',
       '1028', '879', '1532', '1093', '1510', '1441', '1916', '2378',
       '1108', '944', '1617', '3178', '5232', '3612', '4149', '3900',
       '1533', '1253', '2791', '1588', '1627', '1460', '1122', '1714',
       '1242', '3464', '3823', '1689', '5521', '1623', '2855', '4213',
       '3331', '2033', '2582', '1930', '1404', '6435', '2300', '4250',
       '2031', '1696', '6186', '1410', '2072', '2317', '2386', '770',
       '7600', '1630', '3419', '1412', '2316', '4700', '2025', '570',
       '2002', '1596', '2149', '1060', '2457', '919', '2518', '1873',
       '2189', '1674', '1819', '1820', '1567', '1473', '1654', '2172',
       '823', '1430', '1451', '2847', '1574', '1269', '1701', '1896',
       '1599', '1531', '3152', '1262', '768'], dtype=object)

Now, the column is much clean, let's convert it into the int type

In [54]:
df['sqft'] = df['sqft'].astype(int)

C:\Users\dung_\anaconda3\envs\webml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
df.dtypes

price       int32
bd&ba      object
sqft        int32
address    object
bd          int32
ba          int32
dtype: object

### Address Column

In [56]:
df['address']

0             7368 Flowerwood Way,, ,Sacramento, CA 95831
1             3707 Iskenderun Ave,, ,Sacramento, CA 95834
2       4200 E Commerce Way #1113,, ,Sacramento, CA 95834
3                6 Ashley Oaks Ct,, ,Sacramento, CA 95815
4                 7970 Bastien Ct,, ,Sacramento, CA 95828
                              ...
1120                 4900 Boyd Dr,, ,Carmichael, CA 95608
1121    2637 Independence Ave,, ,West Sacramento, CA 9...
1122            9867 Cape Verde Dr,, ,Elk Grove, CA 95757
1123              1909 Yarnell Way,, ,Elk Grove, CA 95758
1124              410 Berkeley Ave,, ,Roseville, CA 95678
Name: address, Length: 1051, dtype: object

Let's divide it into two columns: street and zipcode

1. Street Column

In [ ]:
street_pattern = r'\d+.+,$'

In [ ]:
df['street'] = df['address'].

## Zip code
https://medium.com/@krexvelasco/transforming-categorical-information-into-usable-measures-in-a-machine-learning-model-e2910bbb3fc7

## EDA

squarefeet and price

In [ ]:
sb.scatterplot(df, x='price', y=)